.project
.classpath
.settings
.idea
*.iml
target
/wu-common/.settings
/wu-common/target
/wu-common/*.classpath
/wu-common/*.project
/wu-search/.settings
/wu-search/target
/wu-search/*.classpath
/wu-search/*.gitignore
/wu-web/.settings
/wu-web/target
/wu-web/*.classpath
/wu-web/*.project
application-local.properties
